
.container {
  margin: auto;
  width: 80%;
  display: flex;
  background-color: transparent;
}

.path {
  position: relative;
  overflow: hidden;
  width: 800px;
  height: 80px;
  background-color: #c1c1c1;
  margin: 2rem;
  
}
.shape {
  position: absolute;
  left: 0;
  background-color: red;
  width: 80px;
  height: 80px;
  display: block;
  top: 0;

  x-transition: all 2s ease-in-out;
  animation: ani 1.7s infinite;
}

@keyframes ani {
  0% {
    left: 0;
  }
  50% {
    left: 720px;
  }
  100% {
    left: 0;
  }
}
